.exercise{
    margin-block: 2rem;
    margin-inline: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    gap: 1rem;
    margin-block-end: 3rem;
    border-bottom: 3px solid slateblue;
}

.exercise-name{
    text-transform: capitalize;
    font-family: var(--subheading);
    font-size: 25px;
    line-height: 1.7rem;
    color: midnightblue;
}

.filter-markers div{
    margin-block-end: 0.3rem;
    margin-inline-end: 0;
}

.exercise-level{
    text-align: center;
    width: 7rem;
    color: white;
    height: 1.2rem;
    font-size: 13px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0.1rem;
    text-transform: capitalize;
}

.exercise-equipment{
    text-align: center;
    width: 7rem;
    color: white;
    height: 1.2rem;
    font-size: 13px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0.1rem;
    text-transform: capitalize;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
    grid-column: 1 / span 2;
    align-self: center;
    margin-block: 0.5rem;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.steps{
    grid-column: 1 /span 2;
    margin-inline: 1rem;
    font-size: 18px;
    font-family: var(--para);
    line-height: 1.8rem;
    color: rgb(61, 61, 173);
}

.steps li{
    margin-block: 1rem;
}

@media (min-width:801px){
    .exercise{
        width: 60%;
        margin-inline: auto;
    }

    .exercise-name{
        font-size: 30px
        ;
    }

    .steps{
        font-size: 20px;
    }
}